body{
    background-color: black;
}

.form-container{
    margin: 20px;
    background-color: var(--color-background);
    border-radius: 5px;
    width: 500px;
    padding: 50px;
}

form{
    width: 100%;
    gap: 10px;
}

form input{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #0000004d;
}