.btnSecondary {
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--color-primario);
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.2s;
    background-color: transparent;
    color: var(--color-fuente);
}

.btnSecondary:hover {
    background-color: var(--color-primario);
    color: var(--color-fuente2);
}