.btnPrimary {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.2s;
    background-color: var(--color-primario);
    color: var(--color-fuente2);
}

.btnPrimary:hover {
    background-color: var(--color-secundario);
}