.btnAdd {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--success-color);
    border: 2px solid var(--success-color);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btnAdd:hover {
    background-color: var(--success-color);
    color: white;
}

.icon {
    font-size: 1.2rem;
    font-weight: bold;
}