.input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #0000004d;
    font-family: inherit;
    padding: 10px 5px;
    width: calc(100% - 10px);
}

.input:focus {
    outline: none;
    border-color: var(--color-primario);
}